@mixin button {
  width: 80px;
  height: 30px;
  margin: 10px;
  float: right;
  text-transform: uppercase;
  font-size: 9pt;
  text-align: center;
  line-height: 30px;
  cursor: default;
  box-sizing: border-box;

  border: 1px solid #cccccc;
  color: black;

  &.disabled {
    background-color: #cccccc;
    color: #6f6f6f;
  }
}
